@using Data_Access_Layer.Entities
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Моніторинг</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1gRfrbVI20cLW1Fc8u6rgoq2Yi5z_LJk&callback=initAutocomplete&libraries=places&v=weekly" type="text/javascript"></script>  


     @*<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1gRfrbVI20cLW1Fc8u6rgoq2Yi5z_LJk&callback=initAutocomplete&libraries=places&v=weekly"
      defer
    ></script>*@
  @*  <script type="text/javascript">  
        var mapcode;  
        var diag;  
        function initialize() {  
            mapcode = new google.maps.Geocoder();  
            var lnt = new google.maps.LatLng(26.45, 82.85);  
            var diagChoice = {  
                zoom: 9,  
                center: lnt,  
                diagId: google.maps.MapTypeId.ROADMAP  
            }  
            diag = new google.maps.Map(document.getElementById('map_populate'), diagChoice);  
        }  
        function getmap() {  
            var completeaddress = document.getElementById('txt_location').value;  
            mapcode.geocode({ 'address': "Lviv, Ukraine" }, function (results, status) {  
                if (status == google.maps.GeocoderStatus.OK) {  
                    diag.setCenter(results[0].geometry.location);  
                    var hint = new google.maps.Marker({  
                        diag: diag,  
                        position: results[0].geometry.location  
                    });  
                } else {  
                    alert('Location Not Tracked. ' + status);  
                }  
            });  
        }  
        google.maps.event.addDomListener(window, 'load', initialize);  
    </script>*@
  
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" >
            <div class="container">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="CoursePageName  nav-link text-white font-weight-bold " asp-area="" asp-controller="Shelter" asp-action="GetAllShelters">Об'єкти Міста</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Category" asp-action="GetAllCategories">Категорії</a>
                        </li>

                    
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item justify-content-end align-items-end">
                                <form method="post" asp-controller="account" asp-action="logout">

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="Usname text-white">Адміністратор: @User.Identity.Name</a>
                                    }
                                    @if(User.IsInRole("SimpleUser"))
                                    {
                                        <a class="Usname text-white">Користувач: @User.Identity.Name</a>
                                    }
                    
                    <button type="submit" style="width:auto; font-size:20px;padding:0px; color:white;"
                            class="nav-link btn btn-link ">
                        Вийти
                    </button>
                </form>
            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                <a class="nav-link" asp-controller="account" asp-action="register" style="color:white;">
                    Реєстрація
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="account" asp-action="login" style="color:white;">
                    Увійти
                </a>
            </li>

                        }
        
    </ul>
                   


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white">
        <div class="container">
            &copy; 2022 Моніторинг Об'єктів Міста #StandWithUkraine
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>