@model ShelterViewModel
@{
    ViewData["Title"] = "Create Shelter";
    Layout = "_Layout";
    IEnumerable<Category> categAv = ViewData["AvailebleCategories"] as System.Collections.Generic.IEnumerable<Category>;

}
@using Data_Access_Layer.Entities
@using MyShelter.ViewModels






<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="CreateCourseForm card"  style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center text-white mb-4">Додати об'єкт міста</h2>

                        <form enctype="multipart/form-data" method="post" asp-controller="Shelter" asp-action="CreateShelter">
                            @Html.AntiForgeryToken()
                            <div class="form-outline mb-2">
                                <label class="form-label text-white" for="form3Example1cg">Назва об'єкта</label>
                                <input type="text" id="form3Example1cg" class="form-control form-control-lg" asp-for="ShelterName" />
                            </div>
                            <div class="form-outline mb-2">
                                <label class="form-label text-white" for="form3Example1cg">Категорія</label>
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" asp-for="CategoryId">
                                    <option selected>Оберіть категорію...</option>
                                    @foreach(Category category in categAv)
                                    { 
                                        <option value="@category.id" asp-for="CategoryId">@category.name</option>
                                        
                                    }
                            </select>

                            </div>
                           
                             <div class="form-row ">
    <div class="col">
        <label class="form-label text-white" for="form3Example1cg">Місто</label>
      <input type="text" class="form-control" asp-for="City">
    </div>
    <div class="col">
        <label class="form-label text-white" for="form3Example1cg">Вулиця</label>
      <input type="text" class="form-control" asp-for="Street">
    </div>
  </div>

                            <div class="form-outline mb-2">
                                <label class="form-label text-white" for="form3Example1cg">Кількість чоловік,яких може помістити (якщо бомбосховище)</label>
                                <input type="text" id="form3Example1cg" class="form-control form-control-lg" asp-for="PeopleCount" />
                            </div>

                            <div class="form-group">
                                <label class="form-label text-white" for="exampleFormControlTextarea1">Короткий опис</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" asp-for="ShelterShortDescription"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-label text-white" for="exampleFormControlTextarea1">Загальний опис</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" asp-for="ShelterLongDescription"></textarea>
                            </div>
                            <div class="form-group">
                             
      
                                <label class="form-label text-white" for="customFile">Виберіть картинку</label>
                                <input type="file" class="form-control" id="customFile"  asp-for="Image"/>
                               
                            </div>
                            

     

                            <div class="d-flex justify-content-end">
                                <a class="CancelButton text-white" asp-area="" asp-controller="Shelter" asp-action="GetAllShelters">Скасувати</a>
                                <input type="submit" class="SaveCourseButton btn text-white" name="save" value="Зберегти" />
                            </div>
      
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
