@model ShelterEditViewModel
@{
    ViewData["Title"] = "Edit Shelter";
    Layout = "_Layout";
    IEnumerable<Category> categAv = ViewData["AvailebleCategories"] as System.Collections.Generic.IEnumerable<Category>;
    var photoPath = "/Images/"+Model.ExistingImage;
}
@using Data_Access_Layer.Entities
@using MyShelter.ViewModels






<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="CreateCourseForm card"  style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center text-white mb-4">Edit Facility</h2>

                        <form enctype="multipart/form-data" method="post" asp-controller="Shelter" asp-action="EditShelter">
                            @Html.AntiForgeryToken()
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="ExistingImage" />
                            <div class="form-outline mb-2">
                                <label class="form-label text-white" for="form3Example1cg">Shelter Name</label>
                                <input type="text" id="form3Example1cg" class="form-control form-control-lg" asp-for="ShelterName" />
                            </div>
                            <div class="form-outline mb-2">
                                <label class="form-label text-white" for="form3Example1cg">Shelter Categry</label>
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" asp-for="CategoryId">
                                    <option selected>Choose Category...</option>
                                    @foreach(Category category in categAv)
                                    { 
                                        <option value="@category.id" asp-for="CategoryId">@category.name</option>
                                        
                                    }
                            </select>

                            </div>
                           
                             <div class="form-row ">
    <div class="col">
        <label class="form-label text-white" for="form3Example1cg">City</label>
      <input type="text" class="form-control" asp-for="City">
    </div>
    <div class="col">
        <label class="form-label text-white" for="form3Example1cg">Street</label>
      <input type="text" class="form-control" asp-for="Street">
    </div>
  </div>

                            <div class="form-outline mb-2">
                                <label class="form-label text-white" for="form3Example1cg">People Count</label>
                                <input type="text" id="form3Example1cg" class="form-control form-control-lg" asp-for="PeopleCount" />
                            </div>

                            <div class="form-group">
                                <label class="form-label text-white" for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" asp-for="ShelterShortDescription"></textarea>
                            </div>
                            <div class="form-group">
                             
      
                                <label class="form-label text-white" for="customFile">Click to change image</label>
                                <input type="file" class="form-control" id="customFile"  asp-for="Image" asp-append-version="true"/>
                               
                            </div>
                            <div class="form-outline mb-2">
                            <img class="gjpke" src="@photoPath" width="100%" object-fit="cover" aspect-ratio ="1/1">
                            </div>
                            

     

                            <div class="d-flex justify-content-end">
                                <a class="CancelButton text-white" asp-area="" asp-controller="Shelter" asp-action="GetAllShelters">Cancel</a>
                                <input type="submit" class="SaveCourseButton btn text-white" name="save" value="Update" />
                            </div>
      
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
