@using MyShelter.ViewModels
@using System.Web.Optimization
@model CategoryViewModel
@{
    ViewData["Title"] = "Додати Категорію";
    Layout = "_Layout-2";

}



<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="LogInForm card"  style="border-radius: 15px; border-width:2px;border-color:#0e6ccd;">
                    <div class="card-body p-5 ">
                        <h2 class="text-uppercase text-center mb-4" style="color: #0e6ccd;">Додати категорію</h2>

                        <form enctype="multipart/form-data" method="post" asp-controller="Category" asp-action="Create">
                            @Html.AntiForgeryToken()
                            <div class="form-outline mb-4">
                                <label class="form-label " style="color: #0e6ccd;" for="form3Example1cg">Назва категорії</label>
                                <input style="border-width:2px;" type="text" id="form3Example1cg" class="form-control form-control-lg" asp-for="name" />
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="form-label  " style="color: #0e6ccd;" for="exampleFormControlTextarea1">Опис</label>
                                <textarea style="border-width:2px;" class="form-control" id="exampleFormControlTextarea1" rows="4" asp-for="description"></textarea>
                                <span asp-validation-for="description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="form-label  " style="color: #0e6ccd;" for="customFile">Виберіть світлину</label>
                                <input style="border-width:2px;" type="file" class="form-control" id="customFile"  asp-for="Image"/>
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>

                            <div class="d-flex justify-content-end">
                                <a class="btn btn-primary " style="background-color: white; color:#0e6ccd;" asp-controller="Category" asp-action="GetAllCategories">Скасувати</a>
                                <input type="submit" class="btn btn-primary text-white" style="margin-left:10px;" name="save" value="Зберегти" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

